@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,500;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    @apply font-[Anton] text-3xl text-green-400;
}

h2 {
    @apply font-[Anton] text-3xl text-green-400;
}

h3 {
    @apply font-[Anton] text-2xl text-green-400;
}

h4 {
    @apply text-lg text-green-400;
}

button, a {
    @apply cursor-pointer;
}

.btn {
    @apply p-2 bg-green-400 text-white font-medium rounded-md transition duration-300 hover:bg-green-500 hover:ring-4 hover:ring-green-400 hover:ring-opacity-30 focus:outline-none focus:bg-green-500 active:scale-95 cursor-pointer;
}

.link {
    @apply transition-all duration-300 ease-in-out hover:underline underline-offset-8 decoration-wavy cursor-pointer;
}

.link-icon {
    all: unset;

    @apply p-2 flex items-center gap-2 rounded-md text-sm text-green-400 transition duration-200 hover:bg-green-100 hover:text-green-500 active:scale-90 active:text-green-500 cursor-pointer;
}

input, textarea, select {
    @apply p-2 border rounded-md border-green-300 transition duration-300 focus:outline-none focus:border-green-400 focus:ring-4 focus:ring-green-400 focus:ring-opacity-30;
}

.error-msg {
    @apply text-red-400 text-sm;
}