# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Virtual environment
.venv/

# Environment variables
.env
backend/.env 
frontend/.env

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
tmp/
testpage.html

# db file
database.db