# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
tmp/

# db file
database.db