DATABASE_URL1=
DATABASE_URL2=

ENVIRONMENT=DEV 

FRONTEND_URL_LOCAL=
FRONTEND_URL_NETWORK=


MAIL_FROM=
MAIL_USERNAME=
RESEND_API_KEY=

REDIS_URL=

SECRET_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
